// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../../../node_modules/css-loader/dist/runtime/sourceMaps.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, `.Modal ._Title{width:100%;text-align:center;font-weight:500;font-size:2.96288vh;text-transform:uppercase;pointer-events:none}`, "",{"version":3,"sources":["webpack://./src/interfaces/Modal/components/Title/styles.sass"],"names":[],"mappings":"AAEA,eACE,UAAA,CACA,iBAAA,CACA,eAAA,CACA,mBAAA,CACA,wBAAA,CACA,mBAAA","sourcesContent":["@import \"src/styles/mixins\"\r\n\r\n.Modal ._Title\r\n  width: 100%\r\n  text-align: center\r\n  font-weight: 500\r\n  font-size: 32 *$hPoint\r\n  text-transform: uppercase\r\n  pointer-events: none"],"sourceRoot":""}]);
// Exports
export default ___CSS_LOADER_EXPORT___;
