// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/sourceMaps.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, `.UI-Kit_ScreenBackground{width:100%;height:100%;position:absolute;top:0;left:0;background-color:rgba(0,0,0,.5)}`, "",{"version":3,"sources":["webpack://./src/ui-kit/ScreenBackground/styles.sass","webpack://./src/styles/mixins/_full-size-block.sass"],"names":[],"mappings":"AAEA,yBCDE,UAAA,CACA,WAAA,CACA,iBAAA,CACA,KAAA,CACA,MAAA,CDDA,+BAAA","sourcesContent":["@import \"src/styles/mixins\"\r\n\r\n.UI-Kit_ScreenBackground\r\n  +full-size-block()\r\n  background-color: rgba(0, 0, 0, .5)","=full-size-block()\r\n  width: 100%\r\n  height: 100%\r\n  position: absolute\r\n  top: 0\r\n  left: 0\r\n"],"sourceRoot":""}]);
// Exports
export default ___CSS_LOADER_EXPORT___;
