// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../../../node_modules/css-loader/dist/runtime/sourceMaps.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, `.Auth ._Helper{width:100%;text-align:center;font-weight:500;font-size:1.66662vh;line-height:120%;color:#afafaf}.Auth ._Helper>span{color:#fff}`, "",{"version":3,"sources":["webpack://./src/interfaces/Auth/components/Helper/styles.sass"],"names":[],"mappings":"AAEA,eACE,UAAA,CACA,iBAAA,CACA,eAAA,CACA,mBAAA,CACA,gBAAA,CACA,aAAA,CAEA,oBACE,UAAA","sourcesContent":["@import \"src/styles/mixins\"\r\n\r\n.Auth ._Helper\r\n  width: 100%\r\n  text-align: center\r\n  font-weight: 500\r\n  font-size: 18 *$hPoint\r\n  line-height: 120%\r\n  color: #afafaf\r\n\r\n  > span\r\n    color: #fff"],"sourceRoot":""}]);
// Exports
export default ___CSS_LOADER_EXPORT___;
